.search-wrapper{
    margin:auto;
    text-align: center;
    margin-top: 1%;
}

.search-form{
    display:grid;
    grid-template-columns: auto;
    justify-items: center;
}

.search-navi{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.search-button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-input{
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 550px;
    max-width: 600px;
}

.nav-item{
    margin: 20px;
}

.nav-link:link{
    color: black;
    text-decoration: none;
}

.nav-link:hover{
    color: black;
    text-decoration: underline;
}

.nav-link:active{
    color: black;
    text-decoration: none;
}

.nav-link:visited{
    color: black;
    text-decoration: none;
}

.adv-input{
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}

.advInput-label{
    text-align: left;
}

.logo-wrapper{
    display: flex;
    justify-content: center;
}