.search-wrapper{
    margin:auto;
    text-align: center;
    margin-top: 1%;
}

.search-form{
    display:grid;
    grid-template-columns: auto;
    justify-items: center;
}

.search-navi{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.search-button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-input{
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 550px;
    max-width: 600px;
}

.nav-item{
    margin: 20px;
}

.nav-link:link{
    color: black;
    text-decoration: none;
}

.nav-link:hover{
    color: black;
    text-decoration: underline;
}

.nav-link:active{
    color: black;
    text-decoration: none;
}

.nav-link:visited{
    color: black;
    text-decoration: none;
}

.adv-input{
    display:grid;
    grid-template-columns: 200px 300px;
    column-gap: 10px;
    margin: 25px 35px;
    align-items: center;
    row-gap: 15px;
}
.adv-button-wrapper{
    display: flex;
    justify-content: flex-end;
    width: 545px;
}

.adv-button{
    background-color: #4d90fe;
    border-radius: 5px;
    border: 1px solid #3079ed;
    color: #fff;
}

.advInput-label{
    text-align: left;
}

.logo-wrapper{
    display: flex;
    justify-content: center;
}

.main-search-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.head-span-advance{
    color: red;
    margin: 25px 35px;
    font-size: 25px;
}

.span-advance{
    margin: 25px 35px;
}